# This file provides dependencies for the `Read the Docs` webhook.
# It is not complete, nor is it regularly refreshed.
# It is not what you want for a running environment.
alabaster==0.7.10
Babel==2.5.1
blessings==1.6
blockdiag==1.5.3
certifi==2017.11.5
chardet==3.0.4
CommonMark==0.7.4
docutils==0.14
funcparserlib==0.3.6
future==0.16.0
idna==2.6
imagesize==0.7.1
Jinja2==2.10
MarkupSafe==1.0
olefile==0.44
pep8==1.7.1
Pillow==4.3.0
Pygments==2.2.0
pytz==2017.3
requests==2.18.4
seqdiag==0.9.5
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinx-argparse==0.2.1
sphinx-rtd-theme==0.2.4
sphinxcontrib-seqdiag==0.8.5
sphinxcontrib-websupport==1.0.1
turberfield-dialogue==0.11.0
turberfield-utils==0.32.0
urllib3==1.22
webcolors==1.7
